@model HocWeb.Models.FeedBackModels
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutView.cshtml";
}
@section header{

}
    <div class="container-fluid">
        <h1 class="m-0 font-weight-bold text-primary">Nội dung phản hồi của khách</h1>
        <hr />
        @Html.HiddenFor(model => model.FeedBackID)
        <div class="form-group row">
            <div class="col-sm-5 mb-1 mb-sm-0">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-5 mb-1 mb-sm-0">
                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a href="/Admin/FeedBack/Index" class="btn btn-primary" style="width:100px;">Trở về</a>
    </div>
</div>
