@model HocWeb.Models.CateProductModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutView.cshtml";
}

@section header{

}

@using (Html.BeginForm("Edit", "CateProduct", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <h1 class="m-0 font-weight-bold text-primary">Thêm mới danh mục sản phẩm</h1>
        <div>
            <a class="btn btn-primary" href="/Admin/CateProduct/Index" style="width:200px"> Trở về </a>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CateProductID)
         @Html.HiddenFor(model => model.Icon)

        <div class="form-group row">
            <div class="col-sm-3 mb-1 mb-sm-0">
                <p style="font-weight:bold; color:#000000;font-size:20px">Tên danh mục</p>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <p style="font-weight:bold; color:#000000;font-size:20px">Tiêu đề danh mục</p>
                @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-3">
                <p style="font-weight:bold; color:#000000;font-size:20px">Vị trí xuất hiện</p>
                @Html.EditorFor(model => model.Displayed, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                @Html.ValidationMessageFor(model => model.Displayed, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-1 mb-sm-0">
                <p style="font-weight:bold; color:#000000;font-size:20px">Nội dung</p>
                @Html.EditorFor(model => model.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 mb-1 mb-sm-0">
                <p style="font-weight:bold; color:#000000;font-size:20px">Trạng thái</p>
                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Hoạt động", Value = "True" }, new SelectListItem { Text = "Khóa", Value = "False" } }, new { @class = "form-control form-control-user" })
            </div>
        </div>
        <div>
            @Html.HiddenFor(model => model.CreatedDate)
            @Html.HiddenFor(model => model.CreatedBy)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" style="width:200px" />
            </div>
        </div>
    </div>
}


